.footer-container {
  background-color: var(--dark);
  color: #fff;
  font-size: 12px;
  margin-top: auto;
  height: 7vh;
}

/*
.footer-container {
  background: rgb(237, 111, 7);
  background: linear-gradient(
    0deg,
    rgba(237, 111, 7, 1) 0%,
    rgba(249, 151, 70, 1) 100%
  );
  margin-top: auto;
  height: 7vh;
}
*/
