.col__left {
  height: 100vh;
  padding: 0 !important;
  background-color: var(--primary-color-light-bg);
}
img.logo__form {
  width: 130px;
  position: fixed;
  top: 4%;
  left: 2%;
}
img.illustration {
  width: 55%;
  position: fixed;
  bottom: 0;
  left: 5%;
}

.col__right {
  height: 100vh;
  padding: 0 !important;
  display: flex;
}

.col__right p {
  font-size: 16px;
}

.register__form,
.login__form {
  width: 70%;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 400px;
}

.form-input {
  margin: auto;
}
.form-label {
  margin-bottom: 0;
  font-size: 10px;
  color: var(--dark);
}
.form-control {
  font-size: 12px;
  border-color: var(--border-color);
}
.form-text {
  font-size: 12px;
  color: var(--error);
}

.text-group {
  display: inline;
}

.undertext {
  display: inline-flex;
  font-size: 14px;
  color: var(--grey);
}

.text-link {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 800;
  color: var(--dark);
}

.text-link:hover {
  color: var(--grey) !important;
}

/* Create post form */
.create__post,
.edit__post {
  max-width: 300px;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .col-left {
    height: 100%;
  }
  .col-left img {
    width: 70%;
    position: relative;
  }
  .col__right {
    height: 100%;
  }

  .register__form,
  .login__form {
    width: 80%;
  }

  .form-input {
    width: 80%;
    margin: auto;
  }
}
