.gradient-background {
  background: rgb(247, 125, 72);
  background: linear-gradient(
    0deg,
    rgba(247, 125, 72, 1) 0%,
    rgba(247, 151, 79, 1) 100%
  );
  display: flex;
}

.box {
  background-color: #fff;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  border: 1px solid var(--primary-color);
  box-shadow: 1px 3px 6px grey;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.secondary-logo {
  width: 130px;
  margin: auto;
  display: block;
  padding-top: 60px;
  padding-bottom: 50px;
}
.primary-button {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
  color: black;
  font-size: 14px;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  text-align: center;
  margin-top: 50px;
}
.primary-button:hover {
  background-color: var(--primary-color-hover) !important;
}

.secondary-button {
  border: 1px solid var(--primary-color);
  color: black;
  font-size: 14px;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  text-align: center;
}

.secondary-button:hover {
  background-color: var(--primary-color-hover) !important;
}
