.container__page {
  min-height: 81vh;
}

.spinner {
  color: var(--secondary-color);
  margin: auto;
}

.container__post {
  min-height: 81vh;
  display: flex;
}
.container__spinner {
  height: 81vh;
}

.height__min {
  min-height: 81vh;
}

.link__group {
  display: flex;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}
.link__post {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: var(--dark);
  min-width: 150px;
  border: 0.5px solid var(--secondary-color);
  border-radius: 5px;
}

.link__post:hover {
  background-color: var(--secondary-color);
  color: var(--dark);
}
