.navbar {
  width: 100%;
  height: 12vh;
  border-bottom: 1px solid var(--border-color);
}

.navbar-brand img {
  width: 130px;
}

.navbar a {
  font-size: 14px;
  color: var(--nav-link-color) !important;
  text-decoration: none;
  padding: 10px;
}
.navbar a.active {
  color: var(--links) !important;
  font-weight: 600;
}

.navbar a:hover {
  color: var(--links) !important;
}

.navbar-toggler {
  display: flex;
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.navbar-collapse {
  background-color: var(--white);
}
.logout__container {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .nav-container.ps-0.pe-0.mx-5.container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .nav-profile {
    margin-top: 6px;
  }
  .logout__container {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .btn--logout {
    width: 80px;
  }
  .nav-link {
    padding-bottom: 0;
  }
  .navbar-expand-md {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*breadcrumb */
.breadcrumb {
  margin: auto;
}
.breadcrumb-item a {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
  margin: auto;
  color: var(--grey) !important;
  text-decoration: none;
}
.breadcrumb-item a:hover {
  color: var(--links) !important;
}

.breadcrumb-item.active {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
  margin: auto;
  color: var(--dark) !important;
  text-decoration: none;
  font-weight: 600;
}

/*


li .breadcrumb-item.active {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
  color: var(--primary-color) !important;
}
*/
