.navbar {
  width: 100%;
  height: 12vh;
}

.navbar-brand img {
  width: 130px;
}

.nav-link {
  font-size: 16px;
  color: var(--nav-link-color) !important;
}

.nav-link:hover {
  font-weight: 600;
}

/* Denne virker ikke. må sjekke */
.nav-link.active {
  font-weight: 600;
}

/* Denne må redigeres */
.navbar-toggler {
  background-color: darkgoldenrod;
  width: 50px;
}
