/* POSTS - list of all posts*/
.container__posts {
  width: 90%;
  margin: auto;
}
.post__card {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.post__card:hover {
  opacity: 0.9;
}
.post__media {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.post__details {
  display: flex;
}
.post__author {
  font-size: 12px;
  text-decoration: none;
  color: var(--light-grey);
  margin-right: 4px;
}
.post__author:hover {
  color: var(--primary-color);
}
.post__date {
  font-size: 12px;
  color: var(--light-grey);
}

/* SINGLE POST PAGE */
.post__element {
  text-align: center;
  min-height: 72vh;
  width: 80%;
  margin: auto;
  padding-bottom: 10px !important;
}
.post__img {
  width: 100%;
  max-width: 600px;
}
.author {
  max-width: 600px;
}
.author__avatar {
  flex: 0;
  padding: 0 !important;
}
.author__avatar .avatar {
  width: 40px;
  height: 40px;
  padding: 0 !important;
}
.postedBy {
  text-align: left;
  width: 100%;
}
.author__name {
  text-decoration: none;
  color: var(--dark);
  margin: 0 !important;
  font-weight: 600;
}
.author__name:hover {
  color: var(--primary-color);
}
.posted__date {
  color: var(--grey);
  font-size: 12px;
}
.post__content {
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding: 0;
}

/* REACTIONS */
.reactions {
  width: 80%;
  margin: auto;
  max-width: 600px;
  padding: 0;
}
.reaction {
  padding: 0;
  display: inline-flex;
}
.reaction__group {
  display: flex;
  padding: 0;
  margin-right: 20px;
}
.reaction__symbol {
  margin-right: 5px;
}
.reaction__count {
  font-size: 12px;
  font-weight: 600;
  margin-top: auto;
  color: var(--grey);
}

/* COMMENTS */
.comments {
  width: 80%;
  margin: auto;
  max-width: 600px;
  padding: 0;
}
.comment {
  margin-bottom: 10px !important;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}

.comment__content {
  text-align: left;
  margin-top: 10px;
}
