/* POSTS */
.posts {
  margin-bottom: 10px;
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 5px;
}
.posts:hover {
  box-shadow: 1px 4px 6px var(--border-color);
}

.container__posts {
  display: flex;
  flex-direction: row;
  height: 60vh;
  margin: auto;
  max-width: 600px;
}

.all-posts {
  flex: 1;
  overflow-y: scroll;
}

.post-link {
  text-decoration: none;
}

/* Single post */

.post__element {
  text-align: center;
  min-height: 72vh;
  width: 80%;
  margin: auto;
}

.post__img {
  width: 100%;
  max-width: 600px;
}

.post__img img {
  width: 100%;
}

/* Comments */

.comments {
  max-width: 600px;
  margin: auto;
  padding: 0;
}
.comment {
  padding: 0;
  border-bottom: 0.5px solid var(--border-color);
}
.comment__content {
  text-align: left;
  margin-top: 10px;
}

/*
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.avatar img {
  margin: auto;
}

.profile__avatar {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profile__avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
*/

.author {
  max-width: 600px;
}
.author__avatar {
  flex: 0;
  padding: 0 !important;
}
.author__avatar .avatar {
  width: 40px;
  height: 40px;
  padding: 0 !important;
}

.postedBy {
  text-align: left;
  width: 100%;
}
.author__name {
  text-decoration: none;
  color: var(--dark);
  margin: 0 !important;
  font-weight: 600;
}

.posted__date {
  color: var(--grey);
  font-size: 12px;
}

.post__content {
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding: 0;
}
