/** PROFILES **/

.container__profiles {
  min-height: 60vh;
  width: 80%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.search {
  margin-bottom: 20px;
  display: flex;
}
input.search__input {
  width: 300px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.profile__group {
  border-bottom: 0.5px solid var(--border-color);
  display: flex;
  padding: 0;
}
.follow {
  align-items: end;
  width: 20%;
}
.label.btn.btn-secondary {
  margin: 0 !important;
}

.profile__link {
  text-decoration: none;
  width: 80%;
}

.profile {
  padding: 5px 0;
}

.profile__avatar {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profile__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__name {
  color: var(--dark);
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
}

/* Single profile */
.container__profilepage {
  min-height: 81vh;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
}
.banner {
  height: 350px;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
.banner img {
  width: 100%;
  height: auto;
}
.profile__details {
  width: 200px;
  padding: 0;
  margin: 0;
}
.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.follow__group {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.follow__count {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  padding: 0 10px;
}
.count__label {
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
}

/*POSTS*/
a.linktopost {
  text-decoration: none;
  margin-bottom: 20px;
}
.profile__post {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 0.5px solid var(--border-color);
}
.profile__media {
  width: 100%;
  margin-bottom: 10px;
  height: 300px;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .banner {
    height: 200px;
  }
  .profile__details {
    margin: auto;
    margin-bottom: 20px;
  }
}
