/** PROFILES **/

.container__profiles {
  display: flex;
  flex-direction: row;
  height: 60vh;
  margin: auto;
  max-width: 600px;
}

.profiles__all {
  flex: 1;
  overflow-y: scroll;
}

.profiles {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
}

.search {
  margin-bottom: 10px;
  display: flex;
}
input.search__input {
  width: 300px;
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  font-size: 14px;
}

.profile__name {
  margin-top: auto;
  margin-bottom: auto;
}

.profile__name a {
  color: var(--color-dark);
  text-decoration: none;
}

.profile-name a:hover {
  text-decoration: underline;
}

.profile__avatar {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profile__avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*
.banner {
  background-color: aliceblue;
}

.user-profile {
  background-color: aquamarine;
}

.feed {
  background-color: blueviolet;
}

.follow {
  background-color: azure;
}

*/
/*
.nav-pills .nav-link {
  border: 1px solid var(--primary-color);
  border-radius: 0;

  font-size: 14px;
  font-weight: 800;
}
.nav-pills .nav-link:hover {
  background-color: var(--primary-color) !important;
}

.nav-pills .nav-link.active {
  background-color: var(--primary-color) !important;
  font-weight: 600;
}
*/
/*
img.profile-avatar {
  width: 70%;
  border-radius: 50%;
  margin-left: 15%;
}
*/
/*
.secondary-btn {
  border: 0.5px solid var(--border-color) !important;
  border-radius: 3px !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.secondary-btn.active {
  background-color: var(--secondary-color) !important;
  font-weight: 800;
}
.secondary-btn:hover {
  background-color: var(--secondary-color-lighter) !important;
  font-weight: 800;
}
*/
/* FEED */
/*
.tab-content {
  display: flex;
  flex-direction: row;
  height: 66vh;
}
.tab-pane {
  flex: 1;
  overflow-y: scroll;
  margin-left: 50px;
}
.post-card {
  margin-bottom: 15px;
}
*/
/* PEOPLE */

/* Single profile */
.container__profilepage {
  min-height: 81vh;
  display: flex;
  flex-direction: row;
}

.profile__content {
  text-align: center;
  min-height: 72vh;
  margin: auto;
}

.banner {
  height: 350px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.banner img {
  width: 100%;
  height: auto;
}
