.profile {
  border: 1px solid var(--border-color);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.avatar img {
  margin: auto;
}

.published__posts {
  border: 1px solid var(--border-color);
}

/*
.profile__avatar {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
*/
