body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 25px;
  font-weight: 800;
}

h2 {
  color: var(--dark);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}

h3 {
  color: var(--grey);
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
}

p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--dark);
}

/* POSTS */
.date {
  color: var(--grey);
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
