body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 25px;
  font-weight: 600;
}
h2 {
  color: var(--grey);
  font-size: 16px;
}

h3 {
  font-size: 14px;
}
