/* BUTTONS */
.primary-btn {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
  color: black;
  font-size: 14px;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  text-align: center;
  margin-top: 50px;
}
.primary-btn:hover {
  background-color: var(--primary-color-hover) !important;
}

.primary-btn-outline {
  border: 1px solid var(--primary-color);
  color: black;
  font-size: 14px;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  text-align: center;
}

.primary-btn-outline:hover {
  background-color: var(--primary-color-hover) !important;
}

/*
button.btn.btn-primary {
  background-color: var(--primary-color) !important;
  border: var(--primary-color);
  color: black;
  font-size: 14px;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 10px;
}

button.btn.btn-primary:hover {
  background-color: var(--primary-color-hover) !important;
}

*/
/* outline blue btn */
.secondary-btn {
  border: 0.5px solid var(--border-color) !important;
  border-radius: 3px !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.secondary-btn.active {
  background-color: var(--secondary-color-lighter) !important;
  font-weight: 800;
}
.secondary-btn:hover {
  background-color: var(--secondary-color-lighter) !important;
  font-weight: 800;
}

.logout-btn {
  border: 1px solid var(--secondary-color-lighter) !important;
  border-radius: 2rem;
  width: 90px;
  padding: 5px 20px;
  text-align: center;
}

.search-btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: #fff;
  font-size: 12px;
}

.search-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--follow {
  border: 1px solid var(--primary-color);
  font-size: 12px;
  border-radius: 5px;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.btn--follow:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--logout {
  border: 1px solid var(--primary-color);
  font-size: 12px;
  border-radius: 5px;
  margin: auto;
  padding: 5px;
  text-align: center;
}
