/* Colors */

:root {
  /* Primary button */
  --primary-colour: #f99746;
  --secondary-colour: #8c9df4;

  /*
  --bs-background-colour: #f99746;
  --primary-colour: #f99746;
  --primary-colour-hover: #ed7d2b;
  --nav-colour: #bcbcbc;
  --bg-dark: #f99746;
  --bs-nav-link-color: #f99746;
  --bs-btn-bg: #f99746;
  --bs-primary: #f99746;
  */
}

/* Knapp : #F99746 */
