:root {
  --primary-color: #0063b1;
  --primary-color-light: #b5d8e4;
  --primary-color-dark: #0c123e;
  --primary-color-light-bg: #f0f7f9;
  --nav-link-color: #212529;
  --links: #0063b1;
  --secondary-color: #f87800;
  --secondary-color-dark: #f87800;
  --error: #b30000;
  --border-color: #e2e2e2;
  --white: #fff;
  --dark: #212529;
  --grey: #555353;
  --light: #f8f8f8;
  --light-grey: #716f6f;
}
